openapi: 3.1.1
info:
  title: Food Consumption Logging Data Exchange
  version: 0.0.1
paths:
  /metadata:
    get:
      description: ''
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/metadata'
    put:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/metadata'
      responses:
        '200':
          description: OK
  /meals:
    post:
      requestBody:
        content:
          application/json:
            schema:
              title: meals
              type: array
              items:
                $ref: '#/components/schemas/meal'
      responses:
        '200':
          description: OK
components:
  schemas:
    metadata:
      title: metadata
      description: |
        Metadata provides a translation between the human readable column names and enumerations used in a Meals CSV file and standardized representations of these. Applications with limited user-customization could potentially hard-code their Metadata (per user language supported) if their exports always include the same standard column names.

        The main component of the Metadata is the "columns" property which is a single object with a key for each column name mentioned in a Meals CSV file. The value associated with each column is an object whose "type" column will determine the standardized property the column represents. Additional attributes, specific to the type, will identify other data relevant to that property, e.g. the standard nutrient code and unit for a "facet" column.

        Applications may add their own global properties. It is suggested that each application adds just one root property using a URI owned by that application as the key name. This URI would ideally point to a JSON Schema document describing the structure of the custom properties, but this is not essential.
      type: object
      properties:
        columns:
          title: columns
          type: object
          description: |
            Object with a key for each column name used in the Meals CSV file
          additionalProperties:
            $ref: '#/components/schemas/columnDefinition'
        locale:
          type: string
          pattern: ^[a-z]{2}-[A-Z]{2}$
          examples:
            - fr-FR
        timezone:
          type: string
          pattern: ^(?:(?:[A-Za-z_\-]+\/[A-Za-z_\-]+(?:\/[A-Za-z_\-]+)?)|(?:Etc\/[A-Za-z0-9+\-]+(?:\/[A-Za-z0-9]+)?|(?:CET|CST6CDT|EET|EST|EST5EDT|MET|MST|MST7MDT|PST8PDT|HST)))$
          examples:
            - Europe/France
      required:
        - columns
        - locale
      additionalProperties: true
    columnDefinition:
      title: columnDefinition
      description: Maps the standard fields to the specified column name
      x-additionalPropertiesName: ColumnName
      oneOf:
        - $ref: '#/components/schemas/timeColumn'
        - $ref: '#/components/schemas/mealColumn'
        - $ref: '#/components/schemas/recipeColumn'
        - $ref: '#/components/schemas/foodColumn'
        - $ref: '#/components/schemas/enteredQuantityColumn'
        - $ref: '#/components/schemas/enteredUnitColumn'
        - $ref: '#/components/schemas/quantityColumn'
        - $ref: '#/components/schemas/unitColumn'
        - $ref: '#/components/schemas/facetColumn'
        - $ref: '#/components/schemas/sourceColumn'
        - $ref: '#/components/schemas/codeColumn'
        - $ref: '#/components/schemas/imageColumn'
        - $ref: '#/components/schemas/customColumn'
    timeColumn:
      title: timeColumn
      properties:
        type:
          const: time
        sequence:
          $ref: '#/components/schemas/sequence'
      required:
        - type
      additionalProperties: false
    mealColumn:
      title: mealColumn
      properties:
        type:
          const: meal
        values:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/mealType'
        sequence:
          $ref: '#/components/schemas/sequence'
      required:
        - type
        - values
      additionalProperties: false
    mealType:
      title: mealType
      enum:
        - breakfast
        - second-breakfast
        - brunch
        - elevenses
        - lunch
        - tea
        - dinner
        - supper
        - high-tea
        - siu-yeh
        - snack
        - daily
    recipeColumn:
      title: recipeColumn
      properties:
        type:
          const: recipe
        sequence:
          $ref: '#/components/schemas/sequence'
      required:
        - type
      additionalProperties: false
    foodColumn:
      title: foodColumn
      properties:
        type:
          const: food
        sequence:
          $ref: '#/components/schemas/sequence'
      required:
        - type
      additionalProperties: false
    enteredQuantityColumn:
      title: enteredQuantityColumn
      properties:
        type:
          const: entered_quantity
        sequence:
          $ref: '#/components/schemas/sequence'
      required:
        - type
      additionalProperties: false
    enteredUnitColumn:
      title: enteredUnitColumn
      properties:
        type:
          const: entered_unit
        sequence:
          $ref: '#/components/schemas/sequence'
      required:
        - type
      additionalProperties: false
    quantityColumn:
      title: quantityColumn
      properties:
        type:
          const: quantity
        sequence:
          $ref: '#/components/schemas/sequence'
      required:
        - type
      additionalProperties: false
    unitColumn:
      title: unitColumn
      properties:
        type:
          const: unit
        sequence:
          $ref: '#/components/schemas/sequence'
      required:
        - type
      additionalProperties: false
    facetColumn:
      title: facetColumn
      properties:
        type:
          const: facet
        code:
          $ref: '#/components/schemas/facetCode'
        factor:
          type: integer
        sequence:
          $ref: '#/components/schemas/sequence'
      required:
        - type
        - code
      additionalProperties: false
    facetCode:
      title: facetCode
      enum:
        - acidity
        - added-salt
        - added-sugars
        - alcohol
        - alpha-linolenic-acid
        - ammonium-chloride
        - arachidic-acid
        - arachidonic-acid
        - bcaa
        - behenic-acid
        - beta-alanine
        - beta-carotene
        - beta-glucan
        - bicarbonate
        - biotin
        - butyric-acid
        - caffeine
        - calcium
        - calcium-iodate-anhydrous
        - capric-acid
        - caproic-acid
        - caprylic-acid
        - carbohydrates
        - carbohydrates-total
        - carbon-footprint
        - carnitine
        - casein
        - cassia-gum
        - cerotic-acid
        - chloride
        - chlorophyl
        - cholesterol
        - choline
        - choline-chloride
        - chromium
        - copper
        - copper-ii-sulphate-pentahydrate
        - creatine
        - dihomo-gamma-linolenic-acid
        - docosahexaenoic-acid
        - dry-residue
        - eicosapentaenoic-acid
        - elaidic-acid
        - energy
        - energy-from-fat
        - energy-kcal
        - energy-kj
        - erucic-acid
        - erythritol
        - fat
        - fiber
        - fluoride
        - folates
        - fructose
        - galactose
        - gamma-linolenic-acid
        - gamma-oryzanol
        - glucose
        - glycemic-index
        - gondoic-acid
        - hydrogencarbonate
        - inositol
        - insoluble-fiber
        - iodine
        - iron
        - iron-ii-sulphate-monohydrate
        - isomalt
        - l-arginine
        - l-citrulline
        - l-cysteine
        - l-glutamine
        - l-glutathione
        - l-isoleucine
        - l-leucine
        - l-valine
        - lactose
        - lauric-acid
        - lignoceric-acid
        - linoleic-acid
        - magnesium
        - maltitol
        - maltodextrins
        - maltose
        - manganese
        - manganous-sulphate-monohydrate
        - mead-acid
        - melatonin
        - melissic-acid
        - methylsulfonylmethane
        - molybdenum
        - monounsaturated-fat
        - montanic-acid
        - myristic-acid
        - nervonic-acid
        - nitrate
        - nitrite
        - nucleotides
        - oleic-acid
        - oligosaccharide
        - omega-3-fat
        - omega-6-fat
        - omega-9-fat
        - palmitic-acid
        - pantothenic-acid
        - ph
        - phosphorus
        - phylloquinone
        - polydextrose
        - polyols
        - polyunsaturated-fat
        - potassium
        - potassium-iodide
        - protein-value
        - proteins
        - psicose
        - salt
        - saturated-fat
        - selenium
        - serum-proteins
        - silica
        - sodium
        - sodium-selenite
        - soluble-fiber
        - sorbitol
        - spermidine
        - starch
        - stearic-acid
        - sucrose
        - sugars
        - sulphate
        - taurine
        - trans-fat
        - unsaturated-fat
        - vitamin-a
        - vitamin-b1
        - vitamin-b12
        - vitamin-b2
        - vitamin-b6
        - vitamin-b9
        - vitamin-c
        - vitamin-d
        - vitamin-e
        - vitamin-k
        - vitamin-pp
        - water
        - water-hardness
        - zinc
        - zinc-sulphate-monohydrate
    sourceColumn:
      title: sourceColumn
      properties:
        type:
          const: source
        values:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/sourceValue'
        sequence:
          $ref: '#/components/schemas/sequence'
      required:
        - type
        - values
      additionalProperties: false
    sourceValue:
      title: sourceValue
      type: object
      properties:
        source:
          $ref: '#/components/schemas/sourceType'
        location:
          type: string
      required:
        - source
    sourceType:
      title: sourceType
      enum:
        - gtin
        - plu
    codeColumn:
      title: codeColumn
      properties:
        type:
          const: code
        sequence:
          $ref: '#/components/schemas/sequence'
      required:
        - type
      additionalProperties: false
    imageColumn:
      title: imageColumn
      properties:
        type:
          const: image
        sequence:
          $ref: '#/components/schemas/sequence'
      required:
        - type
      additionalProperties: false
    customColumn:
      title: customColumn
      description: |
        Application properties that are specific to the individual meal. It is suggested that each application adds one code for each custom column using a URI owned by that application. This URI would ideally point to a JSON Schema document describing the structure of the custom type, but this is not essential.
      properties:
        type:
          const: custom
        code:
          type: string
        sequence:
          $ref: '#/components/schemas/sequence'
      required:
        - type
        - code
      additionalProperties: true
    sequence:
      title: Column sequence
      description: The column number when exporting as CSV
      type: integer
    meal:
      type: object
      title: meal
      properties:
        id:
          type: string
          format: uuid
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          $comment: |
            Could use format alone but this is not currently enforced by many validators
        time:
          type: string
          format: date-time
          pattern: ^(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d\.\d+)|(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d)|(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d)$
        meal:
          $ref: '#/components/schemas/mealType'
        recipe:
          type: string
        food:
          type: string
        entered_quantity:
          type: number
        entered_unit:
          type: string
        quantity:
          type: number
        unit:
          enum:
            - g
            - ml
        facets:
          type: array
          items:
            type: object
            properties:
              code:
                $ref: '#/components/schemas/facetCode'
              value:
                type: number
            required:
              - code
              - value
            additionalProperties: false
        source:
          $ref: '#/components/schemas/sourceType'
        location:
          type: string
        code:
          type: string
        image:
          type: string
      additionalProperties: true
